/* Login.css */

.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #eef1f5;
  padding: 16px;
}

.login-card {
  background-color: white;
  padding: 32px;
  border-radius: 12px;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  border: solid #155a9a;
  width: 100%;
  max-width: 400px;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.login-button {
  margin-top: 20px;
  /* width: 100%; */
  max-width: 70%;
  padding: 10px 16px;
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0a5ca8;
}



/* Sign Up CSS */

